<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">       
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/navbar.css">
    <link rel="stylesheet" href="CSS/detail.css">
    <title>Details</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-branch">
                <!--logo here-->
            </a>
            <h1 class="logo me-auto me-lg-0" style="padding-left: 20px;">
                <a href="index.html" class="logo-text">
                    <b>VideoSys</b>
                </a>
            </h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-reponsive">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="search-container">
                <form action="/action_page.php">
                  <input type="text" placeholder="Search.." name="search" id="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>

            <div class="collapse navbar-collapse" id="navbar-reponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="index.html" class="nav-link">Trang Chủ</a>
                    </li>
                    <li class="nav-item">
                        <a href="register.html" class="nav-link">Đăng Ký</a>
                    </li>
                    <li class="nav-item">
                        <a href="login.html" class="nav-link">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a href="admin/admin.html" class="nav-link">Quản lý</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--content-->
    <div class="container">
        <div class="row">
            <!--Video-->
            <div class="col-8" id="video">
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe width="580" height="335" src="https://www.youtube.com/embed/iQspI-Lf11k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br>
                <h3>Title</h3>
                <!-- views, like, share,... -->
                <div class="container" >
                        <div class="col-12" id="left">
                            <div class="row">
                                <div class="col-4">
                                    <span>1,000,000 Views • 25 Dec 2020</span>
                                </div>
                                <div class="col-8">
                                    <div class="bg-white">
                                        <div class="d-flex flex-row fs-12">
                                            <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                                            <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <!--commet-->
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="https://i.imgur.com/RpzrMR2.jpg" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                </div>
                <hr>
                
                <div class="row d-flex justify-content-center mt-100 mb-100">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h4 class="card-title">Latest Comments</h4>
                            </div>
                            <div class="comment-widgets">
                                <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row m-t-0">
                                    <div class="p-2"><img src="https://i.imgur.com/Ur43esv.jpg" alt="user" width="50" class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">James Thomas</h6> <span class="m-b-15 d-block">Ảo thật đấy </span>
                                        <div class="comment-footer"> <span class="text-muted float-right">April 14, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                                    </div>
                                </div> <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="https://i.imgur.com/8RKXAIV.jpg" alt="user" width="50" class="rounded-circle"></div>
                                    <div class="comment-text active w-100">
                                        <h6 class="font-medium">Michael Hussey</h6> <span class="m-b-15 d-block">nhạc đẹp, loli nhảy hay </span>
                                        <div class="comment-footer"> <span class="text-muted float-right">May 10, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                                    </div>
                                </div> <!-- Comment Row -->
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><img src="https://i.imgur.com/J6l19aF.jpg" alt="user" width="50" class="rounded-circle"></div>
                                    <div class="comment-text w-100">
                                        <h6 class="font-medium">Johnathan Doeting</h6> <span class="m-b-15 d-block">bủh bủh LMAO</span>
                                        <div class="comment-footer"> <span class="text-muted float-right">August 1, 2019</span> <button type="button" class="btn btn-cyan btn-sm">Edit</button> <button type="button" class="btn btn-success btn-sm">Publish</button> <button type="button" class="btn btn-danger btn-sm">Delete</button> </div>
                                    </div>
                                </div>
                            </div> <!-- Card -->
                        </div>
                    </div>
                </div>

            </div>
            <!--Recomend-->
            <div class="col-4" style="background-color: white; margin-top: 50px;" id="recomend">
                <div class="thumbnail">
                    <div class="row">
                        <!--thumbnail img-->
                        <div class="col-6">
                            <a href="" class="">
                                <img src="https://i.ytimg.com/vi/NHE_0o6wXYE/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDWLaG8ECJ3QlLsF3FvDzxqNNARrQ" width="168px" height="94px"> 
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" class="">
                            <div class="thumbnail">
                                <span>Ánh Đèn Phố</span><br>
                                <small>The casstle</small><br>
                                <small>2 views</small>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="row">
                        <!--thumbnail img-->
                        <div class="col-6">
                            <a href="" class="">
                                <img src="https://i.ytimg.com/vi/mx_FZd9Gb-w/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLA-BPiWMN0k9kaRjYR7UEO6qfLcMg" width="168px" height="94px"> 
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" class="">
                            <div class="thumbnail">
                                <span>The Cassette - July (Official Music Video)</span><br>
                                <small>The casstle</small><br>
                                <small>500 views</small>
                            </div>
                            
                        </a>
                        </div>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="row">
                        <!--thumbnail img-->
                        <div class="col-6">
                            <a href="" class="">
                                <img src="https://i.ytimg.com/vi/HXkh7EOqcQ4/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAiJoi-mfra-xzhz8_pw9MUyZyKCA" width="168px" height="94px"> 
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" class="">
                            <div class="thumbnail">
                                <span>JUSTATEE x PHUONG LY - CRAZY MAN</span><br>
                                <small>JustaTeeMusic</small><br>
                                <small>1M views</small>
                            </div>
                            
                        </a>
                        </div>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="row">
                        <!--thumbnail img-->
                        <div class="col-6">
                            <a href="" class="">
                                <img src="https://i.ytimg.com/vi/GgQFO8dL5XQ/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLDL9IlfiRy8iaj4S9kL64w_PllAWA" width="168px" height="94px"> 
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" class="">
                            <div class="thumbnail">
                                <span>Thanh Xuân - Da LAB (Official MV)</span><br>
                                <small>Da LAB Official</small><br>
                                <small>2 views</small>
                            </div>
                            
                        </a>
                        </div>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="row">
                        <!--thumbnail img-->
                        <div class="col-6">
                            <a href="" class="">
                                <img src="https://i.ytimg.com/vi/oxAJAaL9_EY/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLD5xEvdchr8DJs7b0mJmJsR9p70Ug" width="168px" height="94px"> 
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" class="">
                            <div class="thumbnail">
                                <span>Hãy Nói Đi</span><br>
                                <small>Vinh Khuất</small><br>
                                <small>20 views</small>
                            </div>
                            
                        </a>
                        </div>
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="row">
                        <!--thumbnail img-->
                        <div class="col-6">
                            <a href="" class="">
                                <img src="https://i.ytimg.com/vi/2-zSSzg8i3Y/hqdefault.jpg?sqp=-oaymwEcCNACELwBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAXirJnQyPrShaiA5vt5htn8VZCtA" width="168px" height="94px"> 
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="" class="">
                            <div class="thumbnail">
                                <span>PC - 10 Ngàn Năm ( Prod. Duckie )</span><br>
                                <small>PC FeelingSoundz</small><br>
                                <small>200k views</small>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
    <br><br><br><br><br>
    
    

    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <h1>
                        <a href="#" class="logo-text" >
                            <b>VideoSys</b>
                        </a>
                    </h1>
                    <hr class="light">
                    <p>111-222-333</p>
                    <p>myEmail@gmail.com</p>
                    <p>123, silicon valey, US</p>
                </div>

                
                <div class="col-md-4">
                    <br>
                    <br>
                    <h2>
                        Phim Mới
                    </h2>
                    <p>Phim lẻ</p>
                    <p>Phim Bộ</p>
                </div>

                <div class="col-md-4">
                    <br>
                    <br>
                    <h2>
                        Email liên hệ
                    </h2>
                    <p>myEmail@gmail.com</p>
                    <p>notmyEmail@gmail.com</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>