<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert - Mazer Admin Dashboard</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    
    <link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <h1 class="logo me-auto me-lg-0" style="font-size:30px">
                                <a href="../index.html" class="logo-text">
                                    <b>VideoSys</b>
                                </a>
                            </h1>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>
            
            <li
                class="sidebar-item active ">
                <a href="admin.html" class='sidebar-link'>
                    <i class="bi bi-grid-fill"></i>
                    <span>Thống Kê</span>
                </a>
            </li>
            
            <li
                class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-stack"></i>
                    <span>Quản Lý Video</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a href="video_list.html">Danh Sách Video</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="video_list.html">Cập nhật Video</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="video_list.html">Dự Phòng</a>
                    </li>
                </ul>
            </li>
            <li
                class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                    <span>Người dùng</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a href="video_list.html">Sách Người dùng</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="video_list.html">Quản lý Người dùng</a>
                    </li>
                </ul>
            </li>
            
            
            <li
                class="sidebar-item  has-sub">
                <a href="#" class='sidebar-link'>
                    <i class="bi bi-pentagon-fill"></i>
                    <span>Quản lý yêu thích</span>
                </a>
                <ul class="submenu ">
                    <li class="submenu-item ">
                        <a href="video_list.html">Yêu Thích</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="video_list.html">Người Yêu Thích</a>
                    </li>
                    <li class="submenu-item ">
                        <a href="video_list.html">Người Chia Sẻ</a>
                    </li>
                </ul>
            </li>
            
            
            
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Danh Sách Video</h3>
                <p class="text-subtitle text-muted">Quản lý danh sách video được đăng tải lên</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin.html"></li>
                        <li class="breadcrumb-item active" aria-current="page">Trang chủ</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="row">
            <div class="col-12 col-md-6">
                
            </div>
        </div>
    </section>
</div>

            
        </div>
    </div>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    
    <script src="assets/js/mazer.js"></script>
</body>

</html>
